body {
  margin: 0px;
  background-image: url(gambar/bg.png);
}

@font-face {
  font-family: "asap_font";
  src: url(fonts/Asap-Regular-webfont.woff);
}

/* Nav Bar */
.nav {
  background-color: rgba(0, 82, 81, 255);
  overflow: hidden;
  margin: 0px;
  padding: 8px 10px 10px 10px;
  position: fixed;
  width: 100%;
  top: 0;
}

.nav ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.nav li {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 82, 81, 255);
}

.nav li img {
  margin-right: 6px;
}

.nav li a {
  display: flex;
  align-items: center;
  height: 20px;
  color: white;
  text-align: center;
  padding: 0px;
  text-decoration: none;
  font-size: 14px;
  font-family: "asap_font";
  padding: 12px 20px;
}

.nav li a:hover {
  background-color: #ffffff;
  color: black;
}

/* Main Content */

.main-content {
  background-color: white;
  width: 830px;
  padding: 68px 10px 5px;
  margin: 10px auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 10px auto;
  padding: 0px;
  gap: 8px;
}

.grid-item {
  background-color: #ffffff;
  color: black;
  font-size: 30px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.grid-item img {
  margin: 3px 0px 0px;
}

.title {
  font-size: 12px;
  font-family: "asap_font";
  font-weight: bold;
  margin: 10px 5px 10px 3px;
  height: 50px;
}

.btn {
  display: flex;
  justify-content: center;
  height: 50px;
  font-size: 14px;
  font-family: "asap_font";
  color: #005350;
  margin: 10px 0px;
}

.btn1 {
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 3px;
  opacity: 0.5;
  margin: 0px 2px;
  height: 14px;
}

.footer {
  width: 100%;
  background-color: white;
  padding: 12px 0px 40px 0px;
}

.footer a {
  text-decoration: none;
  color: black;
  font-family: "asap_font";
  font-size: 11px;
}
